.tennis-clubs-preview-info {
  font-size: 1.2em;
  color: dimgray;
}

.find-club-button {
  background-color: #222;
  padding: 0.5em 0.5rem;
  text-transform: uppercase;
  color: #56e07b;
  font-size: 1rem;
  transition: all ease 0.3s;
  margin-left: -8px;
}

.find-club-button:hover {
  cursor: pointer;
}

.custom-invalid-feedback {
  color: red;
}

.tc-image {
  width: 100%;
  height: 100%;
}

* Base for label styling */ [type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 1px solid black;
  background: white;
  border-radius: 4px;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "✔";
  position: absolute;
  top: 0;
  left: 4px;
  font-size: 14px;
  color: #09ad7e;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
/* [type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted black;
} */

.form-check-input {
  margin-left: -9999px;
}
