@model IEnumerable<CityDTO>

<li class="dropdown">
    <a asp-controller="Cities"
       asp-action="GetCities"
       class="dropdown-toggle text-white" data-toggle="dropdown">@Model.FirstOrDefault().Name<b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach (var city in Model)
        {
            <li>
                <a asp-controller="TennisClub"
                   asp-route-id="@city.Id" asp-action="TennisClubs">@city.Name</a>
            </li>
        }
        <li class="divider"></li>

    </ul>
</li>