
<div class="row user-profile-container" *ngIf="member">
  <div class="col-4">
      <h1>Your profile</h1>
  </div>
  <div class="col-8">
    
  </div>
  <div class="col-3 profile-info">
      <div class="card">
          <img src="{{member.photoUrl || './assets/Images/default_user.png'}}" alt="{{member.username}}" 
              class="card-img-top mx-auto img-thumbnail">
          <div class="card-body">
              <div>
                  <strong>City:</strong>
                  <p>{{member.city.name}}</p>
              </div>
              <div>
                  <strong>Age:</strong>
                  <p>{{member.age}}</p>
              </div>
              <div>
                  <strong>User roles:</strong>
                
                    <p>
                      {{member.roles.join(", ")}}
                    </p>
                    
                  
              </div>
          </div>
          <div class="card-footer">
              <button  form="editForm" type="submit" class="btn btn-success btn-block">Save Changes</button>
          </div>
      </div>
  </div>

  <div class="col-8">
    
    <table class="table">
      <tr>
        <th style="width: 30%">Date Start</th>
        <th style="width: 40%">Date End</th>
        <th style="width: 30%">Tennis Club</th>
        <th style="width: 30%"></th>
      </tr>
      <tr *ngFor="let booking of member.bookings; let i = index">
        <td>{{ booking.dateStart | date:'MMM d, y, h:mm a'}}</td>
        <td>{{ booking.dateEnd | date:'MMM d, y, h:mm a'}}</td>
        <td>{{ booking.tennisCourt.tennisClub.name}}</td>  
        <td >
          <button [disabled]="bookings[i]  < newDateNr " class="btn btn-success">
            Remove booking
          </button>
        </td>
      </tr>
    </table>
  
    
  </div>
</div>

