<div class="tm-mt-2 social">
  <div class="container">
    <div class="row">
      <div class="col-6 col-lg-6 social-links-area">
        <div class="row mr-3 ml-3">
          <div class="text-center mt-4 col-3">
            <a class="social-link" href="#">
              <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
          </div>
          <div class="text-center mt-4 col-3">
            <a class="social-link" href="#">
              <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
          </div>
          <div class="text-center mt-4 col-3">
            <a class="social-link" href="#">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
          </div>
          <div class="text-center mt-4 col-3">
            <a class="social-link" href="#">
              <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-6 social-newsletter d-flex">
        <form
          method="POST"
          class="d-flex justify-content-center align-self-center mt-4 tm-ml-4"
        >
          <div class="row">
            <div class="col-8 col-sm-8 col-lg-7 col-xl-8 mb-2 pb-1">
              <input
                type="text"
                id="newsletter"
                class="email-input"
                name="email"
                placeholder="Email"
              />
            </div>
            <div class="col-4 col-sm-4 col-lg-5 col-xl-4 mb-2 pb-1 text-nowrap">
              <button
                class="btn btn-secondary tm-btn--secondary newsletter-submit-button"
              >
                sign up
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer font-small unique-color-dark pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold footer-menu-title">
          For sports operators
        </h6>
        <div class="tm-divider-long"></div>
        <p>
          Get listed on the Romania's leading facility booking marketplace which
          has helped millions find somewhere to play tennis. We will help you
          fill spare capacity and reach a new audience.
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold footer-menu-title">
          Quick links
        </h6>
        <div class="tm-divider-long"></div>
        <p>
          <a class="footer-link" href="#!">About us</a>
        </p>
        <p>
          <a class="footer-link" href="#!">Blog</a>
        </p>
        <p>
          <a class="footer-link" href="#!">Terms and conditions</a>
        </p>
        <p>
          <a class="footer-link" href="#!">Sitemap</a>
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold footer-menu-title">
          Events
        </h6>
        <div class="tm-divider-long"></div>
        <p>
          <a class="footer-link" href="#!">Corporate events</a>
        </p>
        <p>
          <a class="footer-link" href="#!">Kids parties</a>
        </p>
        <p>
          <a class="footer-link" href="#!">Filiming at sports facilities</a>
        </p>
        <p>
          <a class="footer-link" href="#!">Stadium hire</a>
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold footer-menu-title">
          Contact
        </h6>
        <div class="tm-divider-long"></div>
        <p><fa-icon [icon]="faHome"></fa-icon> Bucharest, Stirbei Voda</p>
        <p><fa-icon [icon]="faInfo"></fa-icon> info@tennismingle.com</p>
        <p><fa-icon [icon]="faPhone"></fa-icon> + 021 234 567 88</p>
        <p><fa-icon [icon]="faFax"></fa-icon> + 021 234 567 89</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <div class="p-4 text-center">
    <a
      class="text-center footer-link"
      href="https://www.freepik.com/photos/people"
      >People photo created by freepik - www.freepik.com</a
    >
    #TheMonks &copy; All Rights Reserved 2020
    <!-- Copyright -->
  </div>
</footer>
