<header class="masthead">
  <div class="container-fluid find-court-container">
    <p class="h3 find-court-header font-weight-bolder">
      Find <span class="font-weight-bolder text-dark">your</span> court
    </p>
    <p class="text-dark text-center find-court-subheader">
      Book tennis courts in Romania
    </p>
    <!--Blue select-->
    <form [formGroup]="findCourtForm" (ngSubmit)="onSubmit()">
      <label for="citiesSelect">citiesSelect</label>
      <select
        class="w-100 p-2"
        formArrayName="selectCity"
        (change)="selectCity($event)"
      >
        <option *ngFor="let city of citiesSelect" [ngValue]="undefined">
          {{ city }}
        </option>
      </select>
      <button
        type="submit"
        id="submitButton"
        class="find-court-button w-100 bg-dark rounded mt-4"
      >
        Find Court
      </button>
    </form>
  </div>
</header>

<div class="container tm-mt-4 tm-mb-4">
  <div class="row site-description">
    <div class="col sm-4 text-center">
      <fa-icon class="fa-2x" [icon]="faSearch"></fa-icon>
      <p class="h3 mt-2 site-description-header">Find</p>
      <div class="justify-content-center mt-1 tm-mb-2">
        <div class="divider-short tm-mb-2"></div>
      </div>
      <p class="site-description-text">
        Are you looking to play after work, organise your Sunday League team, or
        exact revenge on the tennis court? Explore the largest network of tennis
        facilities in Romania. Simply enter your location, choose the date and
        hit the search button.
      </p>
    </div>
    <div class="col sm-4 text-center">
      <fa-icon class="fa-2x" [icon]="faCalendar"></fa-icon>
      <p class="h3 mt-2 site-description-header">Book</p>
      <div class="justify-content-center mt-1 tm-mb-2">
        <div class="divider-short tm-mb-2"></div>
      </div>
      <p class="site-description-text">
        Once you’ve found the perfect court, get booked in quicker and make
        easier payment. Connect with the venue through the enquiry form to make
        an online booking. We work with the best tennis facilities in the
        Romania to simplify organising sport.
      </p>
    </div>
    <div class="col sm-4 text-center">
      <fa-icon class="fa-2x" [icon]="faRunning"></fa-icon>
      <p class="h3 mt-2 site-description-header">Play</p>
      <div class="justify-content-center mt-1 tm-mb-2 text-center">
        <div class="divider-short"></div>
      </div>
      <p class="site-description-text">
        You’re the hero, you’ve found a stunning court, booked with ease and now
        its time to play. The scene is set for your epic match, where dreams can
        be made or broken. Pain is only temporary but victory is forever, so
        leave nothing behind.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3 sg-mb-1">
      <div class="stats text-center text">
        <p class="h4 pt-3 stats-header font-weight-bolder">3</p>
        <p class="h5 mb-4 stats-info text-uppercase">cities</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 sg-mb-1">
      <div class="stats text-center text">
        <p class="h4 pt-3 stats-header font-weight-bolder">5</p>
        <p class="h5 mb-4 stats-info text-uppercase">tennis clubs</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 sg-mb-1">
      <div class="stats text-center text">
        <p class="h4 pt-3 stats-header font-weight-bolder">12</p>
        <p class="h5 mb-4 stats-info text-uppercase">surfaces</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 sg-mb-1">
      <div class="stats text-center text">
        <p class="h4 pt-3 stats-header font-weight-bolder">10</p>
        <p class="h5 mb-4 stats-info text-uppercase">players + coaches</p>
      </div>
    </div>
  </div>
</div>
