
<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control" name="username" 
            [(ngModel)]="model.username" placeholder="Username"  >
    </div>

    <div class="form-group">
        <input type="password" class="form-control" name="password" 
            [(ngModel)]="model.password" placeholder="Password"  >
    </div>
    <div class="form-group">
        <input type="text"
               placeholder="Datepicker"
               class="form-control"
               name="dateofbirth"
               bsDatepicker
            
               [(ngModel)]="model.dateofbirth">
    </div>
    <div class="form-group">
        <select name="userType" id="userType" [(ngModel)]="model.userType">
            <option value="0">ADMINISTRATOR</option>
            <option value="1">Player</option>
            <option value="2">Coach</option>
        </select>
    <div class="form-group">
        <select name="city" id="city" [(ngModel)]="model.city">
            <option value="Bucharest">Bucharest</option>
        </select>
    </div>
        <!-- <mat-form-field class="selectType" appearance="fill">
            <mat-label>Choose one</mat-label>
            <mat-select [formControl]="selected" [errorStateMatcher]="matcher">
              <mat-option>Clear</mat-option>
              <mat-option value="0">ADMINISTRATOR</mat-option>
              <mat-option value="1">Player</mat-option>
              <mat-option value="2">Coach</mat-option>
            </mat-select>
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
            <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
              Your selection is invalid
            </mat-error>
        </mat-form-field> -->
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit" (click)="confirm()">Register</button>
    </div>
</form> 
