.selectType {
  z-index: 100;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
select.ng-invalid.ng-touched {
  border: 1px solid red;
}

.form-control,
.form-selects {
  margin-top: 1.5em !important;
}

.error {
  color: red;
  padding: 5px;
}
