
<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off" novalidate>
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control" name="username" formControlName="username"
            [(ngModel)]="model.username" placeholder="Username"  >
            <span class="help-block" *ngIf="registerForm.get('username').invalid && registerForm.get('username').touched">
                Username is required
            </span>    
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" formControlName="password"
            [(ngModel)]="model.password" placeholder="Password"  >
            <span class="help-block" *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
                Password is required
            </span>  
    </div>
    <div class="form-group">
        <input type="text"
               placeholder="Date of birth"
               class="form-control"
               name="birthDate"
               bsDatepicker
               formControlName="birthDate" 
               [(ngModel)]="model.dateofbirth">
        <span class="help-block" *ngIf="registerForm.get('birthDate').invalid && registerForm.get('birthDate').touched">
            Birth date is required
       </span>         
    </div>
    <div class="form-group">
        <ngx-select-dropdown
            [multiple]="false" 
            [(ngModel)]="model.userType"
            [config] = "configUserType"
            [options]="userTypes"
            formControlName="role"
            name="role"></ngx-select-dropdown>
        <span class="help-block" *ngIf="registerForm.get('role').invalid && registerForm.get('role').touched">
            Birth date is required
        </span>     
    </div>
    <div class="form-group">
        <ngx-select-dropdown
            [multiple]="false"
            [(ngModel)]="model.city"
            [config] ="configCities"
            [options]="dropdownCities"
            name="city"
            formControlName="city"></ngx-select-dropdown>
        <span class="help-block" *ngIf="registerForm.get('city').invalid && registerForm.get('city').touched">
            City is required
        </span>     
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
    </div>
</form> 
