<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success">
  <div class="logo-area">
    <a class="navbar-brand" routerLink="/">
      <img class="logo" src="./assets/logo.png" />
    </a>
  </div>

  <div class="btn-group ml-4" dropdown>
    <button
      id="button-basic"
      dropdownToggle
      type="button"
      class="btn btn-success dropdown-toggle toggle-cities"
      aria-controls="dropdown-basic"
    >
      Bucharest <span class="caret"></span>
    </button>
    <ul
      id="dropdown-basic"
      *dropdownMenu
      class="dropdown-menu"
      role="menu"
      aria-labelledby="button-basic"
    >
      <li role="menuitem" *ngFor="let city of cities">
        <a class="dropdown-item" routerLink="/tennis-clubs">{{ city.name }}</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav mr-auto ml-2">
    <ng-container>
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active"
          ><fa-icon [icon]="faSearch"></fa-icon> Search</a
        >
      </li>
    </ng-container>
  </ul>

  <!-- <div
      class="dropdown"
      *ngIf="accountService.currentUser$ | async as user"
      dropdown
    >
      <img
        src="{{ user.photoUrl || './assets/user.png' }}"
        alt="{{ user.username }}"
      />
      <a
        href="javascript:void(0)"
        class="dropdown-toggle text-light ml-2"
        dropdownToggle
        >Welcome {{ user.knownAs || user.username | titlecase }}</a
      >
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a routerLink="/member/edit" class="dropdown-item">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div> -->

    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username | titlecase}}</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()" >Logout</a>
      </div>
    </div>
    <div *ngIf="(accountService.currentUser$ | async) === null" _ngcontent-c4="" class="d-none d-lg-flex align-items-center justify-content-end h-100 w-100 pr-lg-3 pr-xl-0">

      <div class="d-flex flex-row ng-tns-c4-0 ng-star-inserted">
        <a class="text-button-default -medium" href="javascript:void(0);" (click)="openModal(registerTemplate)">
          Sign up
        </a>
        <div class="mx-3">|</div>
        <a class="text-button-default -medium" href="javascript:void(0);" (click)="openModal(loginTemplate)">
          Login
        </a>
      </div>
    </div>
  <!-- <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" 
      autocomplete="off">
      <input 
          name="username"
          [(ngModel)]="model.username"
          class="form-control mr-sm-2" 
          type="text" 
          placeholder="Username">
      <input 
          name="password"
          [(ngModel)]="model.password"
          class="form-control mr-sm-2" 
          type="password" 
          placeholder="Password">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
  </form>
  <div class="text-center">
    <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Sign Up</button>
    <button class="btn btn-info btn-lg">Learn more</button>
  </div>
  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <app-register (cancelRegister)="cancelRegisterMode($event)" ></app-register>
        </div>
    </div>
  </div> -->
  <ng-template #registerTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Tennis Mingle</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <app-register [modalRefFromNavComponent] = "modalRef"></app-register>
    </div>
  </ng-template>
  <ng-template #loginTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Tennis Mingle</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <app-login [modalRefFromNavComponent] = "modalRef"></app-login>
        
    </div>
  </ng-template>
</nav>
