<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success">
  <div class="logo-area">
    <img class="logo" src="./assets/logo.png" />
  </div>

  <div class="btn-group ml-4" dropdown>
    <button
      id="button-basic"
      dropdownToggle
      type="button"
      class="btn btn-success dropdown-toggle toggle-cities"
      aria-controls="dropdown-basic"
    >
      BUCHAREST <span class="caret"></span>
    </button>
    <ul
      id="dropdown-basic"
      *dropdownMenu
      class="dropdown-menu"
      role="menu"
      aria-labelledby="button-basic"
    >
      <li role="menuitem">
        <a class="dropdown-item" href="#">Brasov</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" href="#">Cluj</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" href="#">Iasi</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav mr-auto ml-2">
    <ng-container>
      <li class="nav-item">
        <a class="nav-link" routerLink="/members" routerLinkActive="active"
          ><i class="fas fa-search"></i> Search</a
        >
      </li>
    </ng-container>
  </ul>

  <!-- <div
      class="dropdown"
      *ngIf="accountService.currentUser$ | async as user"
      dropdown
    >
      <img
        src="{{ user.photoUrl || './assets/user.png' }}"
        alt="{{ user.username }}"
      />
      <a
        href="javascript:void(0)"
        class="dropdown-toggle text-light ml-2"
        dropdownToggle
        >Welcome {{ user.knownAs || user.username | titlecase }}</a
      >
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a routerLink="/member/edit" class="dropdown-item">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div> -->

  <form
    style="display: inline-block"
    #loginForm="ngForm"
    class="form-inline mt-2 mt-md-0"
    autocomplete="off"
  >
    <input
      name="username"
      class="form-control mr-sm-2"
      type="text"
      placeholder="Username"
    />
    <input
      class="form-control mr-sm-2"
      name="password"
      type="password"
      placeholder="Password"
    />
    <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
  </form>
</nav>
