.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.navbar {
  padding: 0 2rem 0 0;
}

.navbar-nav {
  display: inline-block;
}

.navbar-nav > li {
  display: inline-block;
}

.logo-area {
  background-color: black;
  padding: 0.5rem 0 0.5rem 1rem;
  width: 18em;
}

.logo {
  height: 36px;
}

.toggle-cities,
.toggle-cities:hover,
.toggle-cities:active,
.toggle-cities:focus,
.toggle-cities:visited {
  background-color: #28a745;
  border: 0;
}


