

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tennis Mingle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Ubuntu&display=swap" rel="stylesheet">

    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKJPmmyuqowjE4jpjiCymXeQEO-UXQEL4&callback=initMap&libraries=&v=weekly"
            defer></script>
</head>
<body>
    <header>
        <div class="row top-nav">
            <div class="site-logo col-2 text-center">
                <a class="navbar-brand site-title p-0" asp-area="" asp-controller="Home" asp-action="Index"><img style="width: 190px" src="~/Images/logo.png" /></a>
            </div>
            <nav class="navbar col-7 navbar-expand-sm navbar-toggleable-sm navbar-light h-100 cities-collapse font-weight-bolder">
                <div class="container" style="margin: 0px">

                    <div class="justify-content-start">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse text-uppercase" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                @await Component.InvokeAsync("CitiesList")
                            </ul>
                        </div>
                    </div>

                    <div class="user-area justify-content-end">
                        <span>sign up</span>
                        <span>|</span>
                        <span>login</span>
                    </div>
                </div>
            </nav>
            <div class="navbar-venue-partner col-3 text-center">
                    <a class="navbar-venue-partner-link" asp-area="" asp-controller="Home" asp-action="Index">become a venue partner</a>
              
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark bg-white pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">For sports operators</h6>
                    <div class="tm-divider-long"></div>
                    <p>
                        Get listed on the Romania's leading facility booking marketplace which has helped millions find somewhere to play tennis. We will help you fill spare capacity and reach a new audience.
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Quick links</h6>
                    <div class="tm-divider-long"></div>
                    <p>
                        <a class="footer-link" href="#!">About us</a>
                    </p>
                    <p>
                        <a class="footer-link" href="#!">Blog</a>
                    </p>
                    <p>
                        <a class="footer-link" href="#!">Terms and conditions</a>
                    </p>
                    <p>
                        <a class="footer-link" href="#!">Sitemap</a>
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Events</h6>
                    <div class="tm-divider-long"></div>
                    <p>
                        <a class="footer-link" href="#!">Corporate events</a>
                    </p>
                    <p>
                        <a class="footer-link" href="#!">Kids parties</a>
                    </p>
                    <p>
                        <a class="footer-link" href="#!">Filiming at sports facilities</a>
                    </p>
                    <p>
                        <a class="footer-link" href="#!">Stadium hire</a>
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <div class="tm-divider-long"></div>
                    <p>
                        <i class="fas fa-home mr-3"></i> Bucharest, Stirbei Voda
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> info@tennismingle.com
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> + 021 234 567 88
                    </p>
                    <p>
                        <i class="fas fa-print mr-3"></i> + 021 234 567 89
                    </p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <div class="p-4 text-center">
            <a class="text-center footer-link" href="https://www.freepik.com/photos/people">People photo created by freepik - www.freepik.com</a>
            #TheMonks &copy; All Rights Reserved 2020 @*<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
            <!-- Copyright -->
        </div>


    </footer>
    <!-- Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
