@model EntityViewModel

<div id="LoginModal" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <form action="" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Login</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <div class="clearfix">
                            <label>Password</label>
                            <a href="#" class="float-right text-muted"><small>Forgot?</small></a>
                        </div>

                        <input type="password" class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <div class="clearfix">
                            <label>
                                <label asp-for="Cities" class="control-label"></label>
                                <select asp-for="@Model.Cities.FirstOrDefault().Id"
                                        class="form-control bg-dark text-white mb-2"
                                        asp-items="@(new SelectList(Model.Cities,"Id", "Name"))">
                                </select>
                            </label>

                        </div>

                        <input type="password" class="form-control" required="required">
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <label class="form-check-label"><input type="checkbox"> Remember me</label>
                    <input type="submit" class="btn btn-primary" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>

