@model EntityViewModel


@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead">
    <div class="container-fluid find-court-container">
        <p class="h3 find-court-header font-weight-bolder"> Find <span class="font-weight-bolder text-dark">your</span>  court </p>
        <p class="text-dark text-center">Book tennis courts in Romania</p>
        <!--Blue select-->
        <div class="dropdown show">
            <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Model.Cities.FirstOrDefault().Name
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                @foreach (var city in Model.Cities)
                {
                    <a class="dropdown-item" href="#">@city.Name</a>
                }

            </div>
        </div>

            <input type="datetime-local" id="followup_next_followup_date" class="mt-2 w-100" name="followup_next_followup_date" placeholder="Choose a reservation date" class="form-control py-4 px-4">
           <button type="submit" class="find-court-button w-100 mt-3">find <span class="text-white">court</span></button>
    </div>
</header>

