@model IEnumerable<CityDTO>


@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead">
    <div class="container h-50">
        <div class="row h-100 align-items-lg-start">
            <div class="col-12 text-center">
                <h1 class="display-4 font-weight-bold">Welcome to the Mingle</h1>
            </div>
        </div>
    </div>
    <div class="container h-25 bg-light w-25">
        <p class="h3 text-dark"> Find your court </p>
        <!--Blue select-->
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Model.FirstOrDefault().Name
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                @foreach (var city in Model)
                {
                    <a class="dropdown-item" href="#">@city.Name</a>
                }

            </div>
        </div>

            <input type="datetime-local" placeholder="Choose a reservation date" class="form-control py-4 px-4">
    </div>


    </div>
</header>

